body {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#container {
    border-radius: 15px;
    background-color: black;
    box-shadow: 16px 16px 12px 9px #000000;
    color: white;
    font-family: sans-serif, display;
    padding: 20px;
}

input {
    border-radius: 10px;
    height: 30px;
    padding-left: 5px;

}

#clear {
    border-radius: 10px;
    height: 30px;
    padding-left: 5px;
    cursor: pointer;
}

#reload {
    border-radius: 10px;
    height: 30px;
    padding-left: 5px;
    cursor: pointer;
}